/autom4te.cache/
/debian/*/
!/debian/source
/debian/files
/debian/stamp-*
/debian/*.debhelper.log
/debian/*.postinst.debhelper
/debian/*.postrm.debhelper
/debian/*.substvars
/doc/html/
/doc/Doxyfile
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/aclocal.m4
/compile
/config.guess*
/config.h
/config.h.in
/config.log
/config.status
/config.sub*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/tap-driver.sh
.deps
.libs
Makefile
Makefile.in
*~
*.la
*.lo
*.o
*.pc
test-*
